.footer {
  background-color: #ffffff;
  text-align: center;
  padding: 15px 0;
  font-size: 0.95rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
}

.footer p {
  margin: 0;
}

.footer p span {
  font-weight: 600;
}

@media (max-width: 768px) {
  .footer {
    font-size: 0.85rem;
    padding: 10px 0;
  }
}