.map-page {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
}

.map-page-section {
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
}

/* Mobile adjustments */
@media (max-width: 900px) {
  .map-page {
    height: calc(100vh - 60px);
  }
}